@use "sass:color";
@use "../styles/mixins";

$themeColor: #f0e2f5;
$intenseThemeColor: darken($themeColor, 10%);
$darkThemeColor: darken($themeColor, 50%);
$lightThemeColor: lighten($themeColor, 7%);
$navBarWidth: 60px;
$footerHeight: 20px;
$navLinkColor: color.adjust($darkThemeColor, $blue: 30);
$gradient-color-1: $navLinkColor;
$gradient-color-2: #4d10dd;

.navigation {
  width: $navBarWidth;
  height: 100%;
  position: fixed;
  background: $intenseThemeColor;
  @include mixins.boxShadow(1px 0 1px 0 darken($intenseThemeColor, 10%));

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: $footerHeight;
  }

  .navEntry {
    align-self: center;
    font-family: monospace;
  }

  .linksSection {
    display: flex;
    flex-direction: column;
    li {
      @extend .navEntry;
    }
  }
}

.topLinks {
  @extend .linksSection;

  .logo {
    background-color: color.adjust($lightThemeColor, $red: 15);
    margin-bottom: 10px;
    div {
      font-size: 16px;
      color: color.adjust($darkThemeColor, $red: 15);
      text-align: center;
    }
  }

  li:not(.logo) {
    padding: 7px 0;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    div {
      color: $navLinkColor;
      &:hover {
        font-size: 110%;
        @include mixins.navLinkHoverAnimation(
          $gradient-color-1,
          $gradient-color-2
        );
      }
    }
  }
}

.bottomLinks {
  @extend .linksSection;

  li {
    height: 40px;
    padding-bottom: 5px;
    img {
      height: 80%;
    }
  }
}

.contentContainer {
  margin-left: $navBarWidth;
  padding: 3rem;
  background-color: color.adjust($lightThemeColor, $red: 25);
  min-height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.footer {
  height: $footerHeight;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $darkThemeColor;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid darken($darkThemeColor, 10);

  .created {
    color: white;
    font-size: 10px;
    padding: 0 10px;

    a {
      color: white;
    }
  }
}
