@use "../styles/variables";
@use "sass:color";
@use "../styles/mixins";

.statusBar {
  height: variables.$statusBarHeight;
  width: 100%;
  position: fixed;
  background: variables.$darkmainColor;
  display: flex;
  align-items: center;
  border-bottom: 1px solid darken(variables.$darkmainColor, 5%);
  z-index: 2;
  @include mixins.breakpoint(mobileLandscape) {
    height: variables.$statusBarHeightLandscape;
  }
  .name {
    @include mixins.navBarWidth;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 0.1rem;
    color: white;
    @include mixins.breakpoint(mobilePortrait) {
      font-size: 0.65rem;
    }
    @include mixins.breakpoint(mobileLandscape) {
      font-size: 0.8rem;
    }
  }

  .title {
    padding-left: 3rem;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: white;
    @include mixins.breakpoint(mobile) {
      padding-left: 1rem;
      font-size: 0.8rem;
    }
  }
}

.navEntry {
  align-self: center;
  flex: 1;
}

.linksSection {
  display: flex;
  flex-direction: column;
  li {
    @extend .navEntry;
  }
}

.navigation {
  @include mixins.navBarWidth;
  height: 100%;
  position: fixed;
  background: variables.$secondColor;
  @include mixins.boxShadow(1px 0 1px 0 darken(variables.$secondColor, 10%));

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: variables.$statusBarHeight 0 variables.$footerHeight;
    @include mixins.breakpoint(mobileLandscape) {
      padding: variables.$statusBarHeightLandscape 0
        variables.$footerHeightLandscape;
    }
  }
}

.topLinks {
  @extend .linksSection;

  .logo {
    background-color: white;
    margin-bottom: 0.8rem;
  }

  li {
    @include mixins.navBarWidth;
    &.active {
      font-weight: bold;
      background-color: color.adjust(variables.$mainColor, $saturation: -20);
      div {
        color: darken(variables.$thirdColor, 5%);
      }
    }

    &:not(.logo) {
      padding: 0.5rem 0;
      font-size: 1.1rem;
      flex-basis: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mixins.breakpoint(mobileLandscape) {
        flex-basis: 40px;
      }
      @include mixins.breakpoint(mobilePortrait) {
        font-size: 0.9rem;
        flex-basis: 50px;
      }
    }

    div {
      color: variables.$navLinkColor;

      &:hover {
        @include mixins.breakpoint(tall) {
          font-size: 110%;
          @include mixins.navLinkHoverAnimation(
            variables.$navLinkColor,
            darken(variables.$thirdColor, 5%)
          );
        }
      }
    }
  }
}

.bottomLinks {
  @extend .linksSection;

  li {
    padding-bottom: 0.7rem;
    svg {
      width: 24px;
    }
  }

  @include mixins.breakpoint(mobileLandscape) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
      flex-basis: 50% !important;
      text-align: center;
      padding-bottom: 0;
      padding-top: 0.7rem;
      svg {
        width: 20px;
      }
    }
  }
}

.contentContainer {
  margin-left: variables.$navBarWidth;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;

  @include mixins.breakpoint(mobilePortrait) {
    padding: 2rem 0.5rem;
    margin-left: variables.$navBarWidthMobile;
  }

  @include mixins.breakpoint(mobileLandscape) {
    padding: 1rem;
  }

  main {
    width: 100%;
  }

  &.noPadding {
    padding: variables.$statusBarHeight 0 0 0;
    max-width: 100%;
    @include mixins.breakpoint(mobileLandscape) {
      padding-top: variables.$statusBarHeightLandscape;
    }
  }
}

.footer {
  height: variables.$footerHeight;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: variables.$thirdColor;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid darken(variables.$thirdColor, 10);
  @include mixins.breakpoint(mobileLandscape) {
    height: variables.$footerHeightLandscape;
  }
  .created {
    color: variables.$secondColor;
    font-size: 0.6rem;
    padding: 0 0.6rem;
    @include mixins.breakpoint(mobile) {
      font-size: 0.4rem;
    }

    a {
      color: variables.$secondColor;
    }
  }
}
