@mixin breakpoint($point) {
  @if ($point == desktop) {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if ($point == laptop) {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if ($point == tablet) {
    @media (min-width: 800px) {
      @content;
    }
  } @else if ($point == phablet) {
    @media (min-width: 600px) {
      @content;
    }
  } @else if ($point == mobileonly) {
    @media (max-width: 600px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: desktop, laptop, tablet, phablet and mobileonly";
  }
}

@mixin boxShadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@mixin navLinkHoverAnimation($gradientColor1, $gradientColor2) {
  background: linear-gradient(
    to right,
    $gradientColor1 20%,
    $gradientColor2 40%,
    $gradientColor2 60%,
    $gradientColor1 80%
  );
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
  transition: font-size 0.01s;
}
