@use "../styles/variables";
@use "../styles/codeHighlight";
@use "../styles/mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;

  @include mixins.breakpoint(mobile) {
    font-size: 1rem;
    line-height: 1.55;
  }

  @include mixins.breakpoint(mobilePortrait) {
    font-size: 1rem;
  }

  > div {
    height: 100%;
  }
  color: variables.$textColor;
}

* {
  box-sizing: border-box;
}

a {
  &,
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.recharts-surface {
  overflow: visible;
}

.recharts-legend-item {
  cursor: pointer;
}

article {
  a {
    color: variables.$navLinkColor;
  }
}

#jsvidconBanner {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  img {
    max-height: 300px;
  }
}
