@use "../styles/variables";
@use "../styles/mixins";
@use "sass:color";

.header {
  display: flex;
  flex-direction: column;
 
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top:0;
  }

  @include mixins.breakpoint(mobileLandscape) {
    h1 {
      font-size: 1.5rem;
      margin: 0.4rem 0;
    }
    h2 {
      font-size: 1.3rem;
      margin: 0.4rem 0;
    }
  }

  @include mixins.breakpoint(mobilePortrait) {
    h1 {
      font-size: 1.25rem;
      line-height: 1.2;
    }
    h2 {
      font-size: 1.05rem;
      line-height: 1.25;
    }
  }
}
.home {
  margin: 0 auto;
  b {
    color: variables.$thirdColor;
  }
  a {
    color: variables.$navLinkColor;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  a:hover {
    text-decoration-thickness: 3px;
  }
  a:focus-visible {
    outline: 2px solid lighten(variables.$thirdColor, 10%);
    outline-offset: 3px;
    border-radius: 4px;
  }
  ul {
    list-style-type: circle;
    padding-left: 1rem;
  }

  
}

.about {
  max-width: 720px;
  margin: 3rem auto;
  line-height: 1.6;

  .header {
    margin-bottom: 2.5rem;
  }
}

.aboutDivider {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0;
  img {
  width: 16px;
  height: 16px;
  display: block;
}
}

.aboutPhoto {
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.aboutPhoto img {
  width: min(360px, 100%);
  height: auto;
  display: block;
  clip-path: path('M180,35 C180,35 155,0 97,0 C39,0 0,50 0,110 C0,200 180,340 180,340 C180,340 360,200 360,110 C360,50 321,0 263,0 C205,0 180,35 180,35 Z');
  aspect-ratio: 1 / 1;
  object-fit: cover;
  position: relative;
}

.aboutPhoto::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 368px;
  height: 352px;
  background: linear-gradient(135deg, variables.$thirdColor, variables.$secondColor);
  filter: blur(2px);
  clip-path: path('M184,36 C184,36 158,0 99,0 C40,0 0,52 0,114 C0,206 184,348 184,348 C184,348 368,206 368,114 C368,52 328,0 269,0 C210,0 184,36 184,36 Z');
  z-index: 0;
}

.aboutPhoto figcaption {
  margin-top: 0.6rem;
  font-size: 0.85rem;
  opacity: 0.7;
  text-align: center;
}

.work {
  max-width: 900px;
  margin: 3rem auto 1rem;

  a {
    color: variables.$navLinkColor;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  a:hover {
    text-decoration-thickness: 3px;
  }

  a:focus-visible {
    outline: 2px solid lighten(variables.$thirdColor, 10%);
    outline-offset: 3px;
    border-radius: 4px;
  }

  .linkButton {
    border-width: 1px;
    border-style: solid;
    background-color: lighten(
      color.adjust(variables.$secondColor, $saturation: -20),
      2%
    );
    @include mixins.borderRadius(6px);
    padding: 5px 16px;
    color: variables.$textColor;
    font-size: 0.8rem;
    text-decoration: none;
    @include mixins.breakpoint(mobilePortrait) {
      font-size: 0.7rem;
    }
  }
  @include mixins.breakpoint(mobile) {
    h1,
    h3 {
      text-align: center;
    }
    h1 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 0.9rem;
    }
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 60px;
    @include mixins.breakpoint(mobile) {
      flex-direction: column;
    }
  }

  .links {
    @include mixins.breakpoint(mobile) {
      order: 2;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      gap: 2rem;
    }

    svg {
      width: 25px;
      margin-right: 10px;
      @include mixins.breakpoint(mobilePortrait) {
        width: 25px;
        margin-bottom: 5px;
      }
    }

    li a {
      align-items: center;
      display: flex;
      margin-bottom: 10px;
      @extend .linkButton;
      border-color: lighten(variables.$thirdColor, 15%);

      @include mixins.breakpoint(mobileLandscape) {
        flex-direction: column;
      }
      @include mixins.breakpoint(mobilePortrait) {
        flex-direction: column;
      }
    }
  }

  .git {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mixins.breakpoint(mobile) {
      margin-bottom: 30px;
    }
    .label {
      font-weight: bold;
    }

    .curly {
      transform: rotate(90deg);
      font-size: 2rem;
      line-height: 0.3rem;
      padding-bottom: 7px;
      font-weight: 100;
    }

    ul {
      display: flex;
      flex-direction: row;
    }
    li {
      margin: 0 5px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend .linkButton;
        border-color: darken(variables.$mainColor, 35%);
      }
    }

    svg {
      width: 40px;
    }
  }

  .codewars {
    text-align: center;
    @include mixins.breakpoint(mobile) {
      order: 1;
      margin-bottom: 30px;
    }
    @include mixins.breakpoint(mobilePortrait) {
      img {
        width: calc(100% - 35px);
      }
    }

    svg {
      width: 30px;
      margin-right: 5px;
    }
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      @include mixins.breakpoint(mobile) {
        justify-content: center;
      }
    }
  }

  .workIntroSection {
    margin-bottom: 2rem;
    font-size: 0.95rem;
    line-height: 1.5;
  }

  .experienceGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2.5rem;

    @include mixins.breakpoint(mobilePortrait) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  .experienceCard {
    flex-basis: 48%;
    background-color: lighten(
      color.adjust(variables.$secondColor, $saturation: -40%),
      4%
    );
    padding: 1.15rem 1.15rem 1.05rem;
    @include mixins.borderRadius(6px);
    @include mixins.boxShadow(1px 1px 6px 0px variables.$secondColor);
    font-size: 0.9rem;
    line-height: 1.55;
    border: 1px solid rgba(0, 0, 0, 0.06);

    @include mixins.breakpoint(mobilePortrait) {
      flex-basis: 100%;
    }

    &:hover {
      @include mixins.boxShadow(2px 2px 10px 0px variables.$secondColor);
    }

    &:focus-within {
      outline: 2px solid lighten(variables.$thirdColor, 10%);
      outline-offset: 3px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
      line-height: 1.25;
    }

    ul {
      padding-left: 1.1rem;
      margin: 0.5rem 0 0;
      li {
        margin-bottom: 0.45rem;
      }
    }
  }

  .experienceRole {
    font-weight: bold;
    margin: 0;
    line-height: 1.35;
  }

  .experienceTech {
    margin: 0.15rem 0 0.4rem;
    font-size: 0.85rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.75);
  }

  .leadershipSection {
    margin: 2.5rem 0 2rem;
    h2 {
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 0.95rem;
      line-height: 1.6;
    }
  }

  .talksSection {
    margin: 2rem 0 3rem;
    h2 {
      margin-bottom: 0.5rem;
    }
    ul {
      padding-left: 1.1rem;
      list-style-type: disc;
      li {
        margin-bottom: 0.25rem;
        a {
          color: variables.$navLinkColor;
          font-weight: bold;
        }
      }
    }
  }
}

.blog {
  margin: 5rem 0 1rem;
  @include mixins.breakpoint(mobilePortrait) {
    margin: 2rem 0;
  }

  @include mixins.breakpoint(mobileLandscape) {
    margin: 1rem 0;
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    @include mixins.breakpoint(mobile) {
      margin: 1rem 0;
    }
  }
  h2 {
    font-size: 1rem; 
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      flex-basis: 45%;
      min-height: 220px;
      margin: 2rem 0;
      @include mixins.borderRadius(6px);
      @include mixins.boxShadow(1px 1px 6px 0px variables.$secondColor);

      @include mixins.breakpoint(desktop) {
        flex-basis: 32% !important;
      }

      @include mixins.breakpoint(mobilePortrait) {
        flex-basis: 100%;
        min-height: 180px;
        margin: 2rem 0;
        @include mixins.borderRadius(4px);
      }

      @include mixins.breakpoint(mobileLandscape) {
        min-height: 0;
        margin: 1.3rem 0;
        flex-basis: 48%;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        color: variables.$textColor;
      }

      img {
        height: 130px;
        object-fit: cover;
        @include mixins.borderRadii(6px, 6px, null, null);
        @include mixins.breakpoint(mobilePortrait) {
          height: 100px;
          @include mixins.borderRadii(4px, 4px, null, null);
        }
        @include mixins.breakpoint(mobileLandscape) {
          height: 60px;
        }
      }
      .content {
        background-color: lighten(
          color.adjust(variables.$secondColor, $saturation: -50),
          2%
        );
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 90%;
        @include mixins.breakpoint(mobileLandscape) {
          font-size: 0.8rem;
        }

        .badges {
          display: flex;
          flex-direction: row;
          gap: 0.3rem;
          margin-bottom: 0.3rem;
        }

        .newBadge {
          background-color: darken(variables.$thirdColor, 5%);
          color: #fff;
          font-size: 0.7rem;
          font-weight: bold;
          padding: 0.2rem 0.4rem;
          @include mixins.borderRadius(3px);
        }

        .featuredBadge {
          background-color: rgba(0, 0, 0, 0.12);
          color: rgba(0, 0, 0, 0.85);
          font-size: 0.7rem;
          font-weight: bold;
          padding: 0.2rem 0.4rem;
          @include mixins.borderRadius(3px);
        }

        .postTitle {
          font-weight: bold;
        }

        .postSubtitle {
          font-weight: bold;
        }

        time {
          font-style: italic;
        }

        .postMeta {
          margin-top: 0.25rem;
        }

        .postTag {
          display: inline-block;
          font-size: 0.7rem;
          padding: 0.1rem 0.4rem;
          margin-right: 0.25rem;
          margin-top: 0.15rem;
          background-color: rgba(0, 0, 0, 0.1);
          @include mixins.borderRadius(3px);
        }

        .postExcerpt {
          margin: 0.4rem 0 0.3rem;
          font-size: 0.8rem;
          line-height: 1.4;
          display: -webkit-box;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}

.post {
  .title {
    margin: 0;
    padding: 20px 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex;
    background: linear-gradient(
      darken(variables.$secondColor, 3%),
      lighten(color.adjust(variables.$thirdColor, $saturation: -15%), 20%)
    );
    @include mixins.breakpoint(mobile) {
      padding: 3rem 1rem 1rem;
    }

    .breadcrumbs {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
      opacity: 1;
      color: rgba(0, 0, 0, 0.72);

      span + span {
        margin-left: 0.25rem;
      }

      a {
        text-decoration: underline;
      }
    }

    h1 {
      margin: 0;
      font-size: 2rem;
      @include mixins.breakpoint(mobile) {
        font-size: 1.5rem;
      }
    }
    h2 {
      margin: 0;
      font-size: 1.7rem;
      @include mixins.breakpoint(mobile) {
        font-size: 1.3rem;
      }
    }
  }

  time {
    font-style: italic;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
  }

  article {
    max-width: 900px;
    padding: 0 30px;
    margin: 20px auto 70px auto;
    @include mixins.breakpoint(mobile) {
      padding: 0 15px;
    }

    font-size: 1.05rem;
    @include mixins.breakpoint(mobile) {
      font-size: 1rem;
    }

    :not(pre) > code {
      padding: 0.12em 0.35em;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.06);
      border: 1px solid rgba(0, 0, 0, 0.06);
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
      font-size: 0.95em;
    }

    blockquote {
      margin: 1.25rem 0;
      padding: 0.75rem 1rem;
      border-left: 4px solid lighten(variables.$thirdColor, 10%);
      background: rgba(0, 0, 0, 0.04);
      border-radius: 6px;
      color: rgba(0, 0, 0, 0.85);
    }

    blockquote > :first-child {
      margin-top: 0;
    }

    blockquote > :last-child {
      margin-bottom: 0;
    }

    p {
      line-height: 1.65;
      margin: 0.9rem 0;
    }

    ul,
    ol {
      margin: 0.9rem 0;
      padding-left: 1.5rem;
      list-style-position: outside;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    ul ul,
    ol ol,
    ul ol,
    ol ul {
      margin: 0.35rem 0;
      padding-left: 1.25rem;
    }

    li {
      line-height: 1.6;
      margin: 0.35rem 0;
    }

    h2,
    h3 {
      margin-top: 2rem;
      margin-bottom: 0.75rem;
    }

    a {
      text-decoration: underline;
      text-underline-offset: 2px;
    }

    a:hover {
      text-decoration-thickness: 3px;
    }

    a:focus-visible {
      outline: 2px solid lighten(variables.$thirdColor, 10%);
      outline-offset: 3px;
      border-radius: 4px;
    }
  }

  .postBanner {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin: 3rem 0 1.5rem;
    @include mixins.borderRadius(6px);
    @include mixins.breakpoint(mobile) {
      margin: 1.5rem 0 1rem;
    }


    
  }

  .postHeaderMeta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    time {
      margin: 0;
    }

    .postMetaTop {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      font-size: 0.9rem;
      opacity: 0.9;
    }

    .postUpdated {
      font-size: 0.8rem;
      opacity: 0.9;
    }

    .postMeta {
      margin-top: 0.25rem;
    }

    .postTag {
      display: inline-block;
      font-size: 0.75rem;
      padding: 0.1rem 0.5rem;
      margin-left: 0.25rem;
      background-color: rgba(0, 0, 0, 0.08);
      @include mixins.borderRadius(3px);
    }

    .featuredBadge {
      font-size: 0.75rem;
      font-weight: bold;
      background-color: darken(variables.$thirdColor, 5%);
      color: #fff;
      padding: 0.2rem 0.5rem;
      margin-left: auto;
      @include mixins.borderRadius(3px);
    }
  }

  .postAuthor {
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    opacity: 0.9;
  }
}
